# --- General / IDEs ---
.DS_Store
Thumbs.db
.idea/
.project
.classpath
.settings/
*.launch
*.sublime-workspace
.history/*

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# --- Frontend (Angular/React) ---
frontend/node_modules/
frontend/dist/
frontend/tmp/
frontend/out-tsc/
frontend/bazel-out/
frontend/.angular/cache
frontend/.sass-cache/
frontend/coverage/
npm-debug.log
yarn-error.log

# --- Backend (Java/Spring Boot) ---
backend/target/
backend/*.class
backend/*.jar
backend/*.war
backend/.mvn/
backend/help.md

# --- Environment Secrets ---
frontend/.env
frontend/.env.*
backend/.env
backend/.env.*