<!--HEADER navigation bar.-->
<nav class="navbar">
  <!--App name banner.-->
  <h3 class="appTitle">{{appVar_title}}</h3>
  <!--Container to hold all buttons.-->
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/BannerImages/steak.png" alt="" width="50" height="50" class="d-inline-block align-text-center">
      MeatMarket
    </a>
    <a class="navbar-brand" href="#">
      <img src="/assets/BannerImages/trout.png" alt="" width="50" height="50" class="d-inline-block align-text-center">
      Seafood
    </a>
    <a class="navbar-brand" href="#">
      <img src="/assets/BannerImages/sandwitch.png" alt="" width="50" height="50" class="d-inline-block align-text-center">
      Deli
    </a>
    <a class="navbar-brand" href="#">
      <img src="/assets/BannerImages/cupcake.png" alt="" width="50" height="50" class="d-inline-block align-text-center">
      Bakery
    </a>
    <a class="navbar-brand" href="#">
      <img src="/assets/BannerImages/cornucopia.png" alt="" width="50" height="50" class="d-inline-block align-text-center">
      Produce
    </a>
  </div>
</nav>

<!--Dynamic container. Loads in diffrent page content.-->
<div class="container">
  <router-outlet></router-outlet>
</div>

<!--FOOTER banner.-->
<footer class="global-footer">
  <div class="container">
    <span>All Rights Reserved - FCPT - 2024</span>
  </div>
</footer>