<h3>Meat Market</h3>
<!--Card container structure.-->
<div class="container">
  <div class="col-md-4" *ngFor="let product of products">
    <div class="card mb-4" (click)="openModal(product)">
      <img ngOptimizedImage [src]="product.imageUrl" class="card-img-top" alt="{{product.productName}}">
      <div class="card-body">
        <h5 class="card-title">{{product.productName}}</h5>
        <p class="card-text">PLU: {{product.plu}}</p>
      </div>
    </div>
  </div>
</div>
<!--Accordion structure.-->
<div *ngFor="let cordionItem of cordionItems;let i=index">
  <button class="accordion" (click)="togglePanel(i)">{{cordionItem.title}}</button>
  <div class="panel" [ngStyle]="{'display':cordionItem.isOpen?'block':'none'}">
    <p>{{cordionItem.content}}</p>
    <div *ngIf="i==0">
      <h5>Beef</h5>
      <div class="beefButtons"
      (mousedown)="onMouseDown($event)"
      (mousemove)="onMouseMove($event)"
      (mouseup)="onMouseUp()"
      (touchstart)="onTouchStart($event)"
      (touchmove)="onTouchMove($event)"
      (touchend)="onTouchEnd()">
        <button class="btn btn-custom" (click)="selectButton('button1')"
                [ngClass]="{'selected': selectedButton == 'button1'}">
          Steaks
        </button>
        <button class="btn btn-custom" (click)="selectButton('button2')"
                [ngClass]="{'selected': selectedButton == 'button2'}">
          Roasts
        </button>
        <button class="btn btn-custom" (click)="selectButton('button3')"
                [ngClass]="{'selected': selectedButton == 'button3'}">
          Stew Meats
        </button>
        <button class="btn btn-custom" (click)="selectButton('button4')"
                [ngClass]="{'selected': selectedButton == 'button4'}">
          Organ Meats
        </button>
        <button class="btn btn-custom" (click)="selectButton('button5')"
                [ngClass]="{'selected': selectedButton == 'button5'}">
          Rib/Bone Cuts
        </button>
        <button class="btn btn-custom" (click)="selectButton('button6')"
                [ngClass]="{'selected': selectedButton == 'button6'}">
          Ground Meats
        </button>
        <button class="btn btn-custom" (click)="selectButton('button7')"
                [ngClass]="{'selected': selectedButton == 'button7'}">
          Natural Cuts
        </button>
        <button class="btn btn-custom" (click)="selectButton('button8')"
                [ngClass]="{'selected': selectedButton == 'button8'}">
          High Grade
        </button>
        <button class="btn btn-custom" (click)="selectButton('button9')"
                [ngClass]="{'selected': selectedButton == 'button9'}">
          Holiday
        </button>
      </div>
      <h5>Pork</h5>
      <div class="porkButtons"
      (mousedown)="onMouseDown($event)"
      (mousemove)="onMouseMove($event)"
      (mouseup)="onMouseUp()"
      (touchstart)="onTouchStart($event)"
      (touchmove)="onTouchMove($event)"
      (touchend)="onTouchEnd()">
        <button class="btn btn-custom" (click)="selectButton('button10')" [ngClass]="{'selected': selectedButton == 'button10'}">
          Steaks/Chops
        </button>
        <button class="btn btn-custom" (click)="selectButton('button11')" [ngClass]="{'selected': selectedButton == 'button11'}">
          Roasts
        </button>
        <button class="btn btn-custom" (click)="selectButton('button12')" [ngClass]="{'selected': selectedButton == 'button12'}">
          Ribs/Bone Cuts
        </button>
        <button class="btn btn-custom" (click)="selectButton('button13')" [ngClass]="{'selected': selectedButton == 'button13'}">
          Ground Meats
        </button>
        <button class="btn btn-custom" (click)="selectButton('button14')" [ngClass]="{'selected': selectedButton == 'button14'}">
          Stew Meats
        </button>
        <button class="btn btn-custom" (click)="selectButton('button15')" [ngClass]="{'selected': selectedButton == 'button15'}">
          Natural Cuts
        </button>
        <button class="btn btn-custom" (click)="selectButton('button16')" [ngClass]="{'selected': selectedButton == 'button16'}">
          Processed/Prepared
        </button>
        <button class="btn btn-custom" (click)="selectButton('button17')" [ngClass]="{'selected': selectedButton == 'button17'}">
          Cooked/Smoked
        </button>
      </div>
    </div>
    <!--Image maps generated with help from "http://www.image-map.net/".-->
    <div *ngIf="i==1" class="cowMapImgWrapper">
      <div class="imageContainer"> 
        <div class="zoomable">
          <img src="assets/AccordionImages/beefCutsGraphic.jpg" usemap="#image-map">
          <svg class="areaOverlay">
            <!--Polygons declared to overlay on top of desired areas.--> 
            <polygon points="282,271,322,270,353,268,372,267,387,266,397,266,396,222,395,194,393,158,391,129,389,109,387,81,369,78,347,73,330,68,307,60,288,54,270,48,249,41,234,37,227,38,221,46,216,58,214,68,214,86,214,108,216,126,220,158,226,188,233,220,240,245,246,267,251,273,264,272" fill="none" stroke="none" data-area="Chuck" (click)="onAreaClick('chuck')"></polygon>
            <polygon points="389,83,393,133,396,177,398,209,399,237,400,266,429,265,467,265,499,265,534,265,587,267,592,236,597,209,600,175,600,151,596,128,588,99,581,84,487,89" fill="none" stroke="none" data-area="Rib" (click)="onAreaClick('rib')"></polygon>
            <polygon points="585,83,596,116,601,141,603,163,602,195,597,226,593,245,590,267,616,268,649,271,672,273,710,279,721,246,724,211,723,179,719,148,677,150,612,148,622,142,633,139,650,134,672,128,693,124,713,120,708,98,702,82,699,73,638,79" fill="none" stroke="none" data-area="Short Loin" (click)="onAreaClick('short loin')"></polygon>
            <polygon points="703,72,708,92,716,120,761,111,793,103,814,95,808,75,801,59,754,66" fill="none" stroke="none" data-area="Sirloin" (click)="onAreaClick('sirloin')"></polygon>
            <polygon points="815,97,785,107,732,118,661,133,623,146,656,147,690,147,727,145,761,140,790,136,824,133" fill="none" stroke="none" data-area="Tenderloin" (click)="onAreaClick('tenderloin')"></polygon>
            <polygon points="721,148,726,178,750,175,781,174,811,175,834,181,831,162,828,145,825,135,781,140" fill="none" stroke="none" data-area="Top Sirloin" (click)="onAreaClick('top sirloin')"></polygon>
            <polygon points="712,280,747,287,767,293,784,299,804,309,815,318,822,322,830,321,835,297,838,271,840,248,839,221,836,198,835,184,818,178,789,176,765,177,743,177,725,181,726,210,725,227,722,253" fill="none" stroke="none" data-area="Bottom Sirloin" (click)="onAreaClick('bottom sirloion')"></polygon>
            <polygon points="805,57,816,94,827,132,834,163,839,205,841,243,841,265,839,289,835,304,832,322,883,320,921,320,936,281,945,246,950,206,952,168,947,132,938,97,927,73,930,60,925,54,913,49,893,46,850,50" fill="none" stroke="none" data-area="Round" (click)="onAreaClick('round')"></polygon>
            <polygon points="250,275,269,316,287,342,306,356,343,358,397,359,397,332,399,296,397,268,329,271" fill="none" stroke="none" data-area="Brisket" (click)="onAreaClick('brisket')"></polygon>
            <polygon points="400,268,400,303,400,329,397,359,431,358,465,355,511,351,557,346,588,346,585,325,584,307,585,287,586,270,532,266,462,267" fill="none" stroke="none" data-area="Plate" (click)="onAreaClick('plate')"></polygon>
            <polygon points="589,270,586,308,589,344,638,341,704,334,758,326,810,317,789,304,760,292,710,282,661,276,621,270" fill="none" stroke="none" data-area="Flank" (click)="onAreaClick('flank')"></polygon>
            <polygon points="322,364,332,389,341,412,352,424,361,429,370,429,379,420,387,403,390,385,393,365,358,365" fill="none" stroke="none" data-area="ShankL" (click)="onAreaClick('shankl')"></polygon>
            <polygon points="820,325,841,352,856,373,877,388,892,393,909,393,918,387,923,375,923,354,921,333,919,322,875,324" fill="none" stroke="none" data-area="ShankR" (click)="onAreaClick('shankr')"></polygon>
          </svg>
        </div>
      </div>
    </div>
    <div *ngIf="i==2" class="pigMapImgWrapper">
      <div class="imageContainer">
        <div class="zoomable">
          <img src="assets/AccordionImages/porkCutsGraphic.jpg" usemap="#image-map">
          <svg class="areaOverlay">
            <polygon points="289,57,246,47,220,50,194,56,169,69,120,95,94,114,65,124,39,131,6,133,2,178,34,195,64,212,106,234,149,251,187,264,217,272,235,264,247,234,264,157" fill="none" stroke="none" data-area="Head" (click)="onAreaClick('head')"></polygon>
            <polygon points="291,57,283,83,272,127,265,157,257,189,294,196,337,200,376,204,389,152,397,114,408,92,417,72,425,59,371,62,332,62" fill="none" stroke="none" data-area="Blade Shoulder" (click)="onAreaClick('blade shoulder')"></polygon>
            <polygon points="261,194,252,208,244,245,239,259,233,276,260,289,281,306,302,331,324,354,341,374,354,395,375,421,405,400,391,377,374,351,360,330,361,314,371,318,390,320,386,295,382,275,380,250,378,219,374,206" fill="none" stroke="none" data-area="Arm Shoulder" (click)="onAreaClick('arm shoulder')"></polygon>
            <polygon points="376,426,389,452,414,490,424,479,427,457,419,434,411,408,397,412,385,416" fill="none" stroke="none" data-area="Hock" (click)="onAreaClick('hock')"></polygon>
            <polygon points="431,58,417,76,408,98,400,115,394,137,392,152,384,181,381,205,381,234,385,252,419,257,466,263,529,271,572,276,604,279,624,280,629,264,628,244,633,225,645,200,663,168,678,143,694,117,718,88,733,71,751,60,726,54,679,50,597,50,519,54" fill="none" stroke="none" data-area="Loin" (click)="onAreaClick('loin')"></polygon>
            <polygon points="388,261,386,274,388,290,391,310,398,318,421,314,459,308,493,302,524,294,571,284,522,274,468,266,423,262" fill="none" stroke="none" data-area="Spare Rib" (click)="onAreaClick('spare rib')"></polygon>
            <polygon points="397,326,431,334,498,343,553,351,602,354,636,352,660,345,648,325,640,307,630,291,615,285,593,285,547,294,487,303" fill="none" stroke="none" data-area="Side" (click)="onAreaClick('side')"></polygon>
            <polygon points="755,61,731,76,716,93,701,110,687,132,670,159,638,222,629,248,631,269,633,287,648,312,666,342,690,359,716,370,757,385,784,391,808,399,832,399,856,389,874,379,842,354,837,341,850,330,867,324,890,301,910,267,919,236,920,211,916,188,889,196,871,196,847,190,829,158,825,124,829,109,839,99,812,80,786,68" fill="none" stroke="none" data-area="Leg" (click)="onAreaClick('leg')"></polygon>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal structure for a card(pop-up sub-window).-->
<div id="someModalId" class="modal">
  <div class="modal-content">
    <span class="close">×</span>
    <img [src]="selectedProduct?.imageUrl" class="modal-img">
    <div class="modal-text">
      <h2>{{selectedProduct?.productName}}</h2>
      <p>PLU: {{selectedProduct?.plu}}</p>
      <p>Department: {{selectedProduct?.department}}</p>
      <p>Price: ${{selectedProduct?convertCentsToDollars(selectedProduct.priceInCents):"N/A"}}{{selectedProduct?.unit}}</p>
      <p>Category: {{selectedProduct?.category}}</p>
      <p>Description: {{selectedProduct?.description}}</p>
    </div>
  </div>
</div>


