
<h3>Main Page</h3>
<!--Card container structure.-->
<div class="container">
  <div class="col-md-4" *ngFor="let product of products">
    <div class="card mb-4" (click)="openModal(product)">
      <!-- Old local version of fetching media asset...
      <img ngOptimizedImage [src]="product.imageUrl" class="card-img-top" alt="{{product.productName}}">-->
      <img [src]="s3ImagePath+'/'+product.imageFileName" class="card-img-top"  alt="{{product.productName}}">
      <div class="card-body">
        <h5 class="card-title">{{product.productName}}</h5>
        <p class="card-text">PLU: <strong>{{product.plu}}</strong></p>
      </div>
    </div>
  </div>
</div>

<!--Main page paragraphs.-->
<div class="infoSection">
  <h4>About This App</h4>
  <p>The "PLU Finder" is a static web app that helps users associate product names to corresponding
     PLUs(Product Lookup Codes). This app seeks to help new employees or temporary cross functioning
     employees by providing them with tips and information relevant to their working area.</p>
  <p>Currently, the main purpose of this web app is to provide a secondary method of PLU visualization.
     For some departments, a visual aid of products in question will improve PLU familiarization and 
     better optimize time spent at a department.</p>
  <p>A quick reference tool. Simple, but effective.</p>

  <h4>Use Cases</h4>
  <ul>
    <li>
      <p><strong>Cashier:</strong> Quick search produce PLUs while at a checkout register.</p>
    </li>
    <li>  
      <p><strong>Meat Market/Deli:</strong> Applicable when printing price tags for meat products.</p>
    </li>
    <li>
      <p><strong>Deli/Curbside:</strong> (Soon)Recommend a substitution for a product.</p>
    </li>
    <li>
      <p><strong>Seafood:</strong> (Soon)Suggest cooking style for product.</p>
    </li>
    <li>
      <p><strong>Bakery:</strong> (Soon)Baking time and temperature reminder for bread and pastries.</p>
    </li>
  </ul>

  <h4>Disclaimer</h4>
  <p>The developer has created this tool with the intent to demonstrate his abilities to build and
     deploy a web application. "PLU Finder" is designed to perform in a real-world situation for 
     educational purposes only. Presently, this app is tailor made to suit the needs of one specific
     store location.</p>
  <p>This tool is not endorsed by any business. While grocery store employees are encouraged to use 
     this tool and provide feedback, this app is not an official tool and should not replace any 
     official systems or processes. Employees are to use this tool as supplement alongside their 
     already existing official systems or processes.</p>
  <p>All logos and trademarks belong to their respective owners.</p>   

  <h4>Feedback</h4>
  <p>What did you think of this web app? Are there any new features you think are missing? Your
     feedback is valuable to the developer! Thank you.</p>
</div>

<!--Accordion structure-->
<div *ngFor="let cordionItem of cordionItems; let i=index">
  <button class="accordion" (click)="togglePanel(i)">{{cordionItem.title}}</button>
  <div class="panel" [ngStyle]="{ 'display': cordionItem.isOpen ? 'block' : 'none' }">
    <p>{{cordionItem.content}}</p>
    <div *ngIf="i==0">
      <div class="nestedInfoSection">
        <h4>About This App</h4>
        <p>The "PLU Finder" is a static web app that helps users associate product names to corresponding
           PLUs(Product Lookup Codes). This app seeks to help new employees or temporary cross functioning
           employees by providing them with tips and information relevant to their working area.</p>
        <p>Currently, the main purpose of this web app is to provide a secondary method of PLU visualization.
           For some departments, a visual aid of products in question will improve PLU familiarization and 
           better optimize time spent at a department.</p>
        <p>A quick reference tool. Simple, but effective.</p>
      
        <h4>Use Cases</h4>
        <ul>
          <li>
            <p><strong>Cashier:</strong> Quick search produce PLUs while at a checkout register.</p>
          </li>
          <li>  
            <p><strong>Meat Market/Deli:</strong> Applicable when printing price tags for meat products.</p>
          </li>
          <li>
            <p><strong>Deli/Curbside:</strong> (Soon)Recommend a substitution for a product.</p>
          </li>
          <li>
            <p><strong>Seafood:</strong> (Soon)Suggest cooking style for product.</p>
          </li>
          <li>
            <p><strong>Bakery:</strong> (Soon)Baking time and temperature reminder for bread and pastries.</p>
          </li>
        </ul>
      
        <h4>Disclaimer</h4>
        <p>The developer has created this tool with the intent to demonstrate his abilities to build and
           deploy a web application. "PLU Finder" is designed to perform in a real-world situation for 
           educational purposes only. Presently, this app is tailor made to suit the needs of one specific
           store location.</p>
        <p>This tool is not endorsed by any business. While grocery store employees are encouraged to use 
           this tool and provide feedback, this app is not an official tool and should not replace any 
           official systems or processes. Employees are to use this tool as supplement alongside their 
           already existing official systems or processes.</p>
        <p>All logos and trademarks belong to their respective owners.</p>   
      
        <h4>Feedback</h4>
        <p>What did you think of this web app? Are there any new features you think are missing? Your
           feedback is valuable to the developer! Thank you.</p>
      </div>
    </div>
  </div>
</div>

<!--Modal structure for a card(pop-up sub-window).-->
<div id="someModalId" class="modal">
  <div class="modal-content">
    <span class="close">×</span>
    <!-- Old local version of fetching media asset...
    <img [src]="selectedProduct?.imageUrl" class="modal-img"> -->
    <img [src]="s3ImagePath + '/' + selectedProduct?.imageFileName"  class="modal-img">
    <div class="modal-text">
      <h2>{{selectedProduct?.productName}}</h2>
      <p><strong>PLU: </strong><u><strong>{{selectedProduct?.plu}}</strong></u></p>
      <p><strong>Department: </strong>{{selectedProduct?.department}}</p>
      <div class="baseline"></div>
      <div class="description" [innerHTML]="parsedDescription"></div>
    </div>
  </div>
</div>

